# services:
#   proxy_reencryption1:
#     build: .
#     mem_limit: 4g
#     ports:
#       - "4100:4100"
#     environment:
#       - PORT=4100

#   proxy_reencryption2:
#     build: .
#     mem_limit: 4g
#     ports:
#       - "4101:4101"
#     environment:
#       - PORT=4101

#   proxy_reencryption3:
#     build: .
#     mem_limit: 4g
#     ports:
#       - "4102:4102"
#     environment:
#       - PORT=4102

services:
  nginx:
    image: nginx:alpine
    ports:
      - "4101:4101"
      - "4102:4102"
      - "4103:4103"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  redis:
    image: "redis:8-alpine"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6380:6379"
    env_file: .env
    volumes:
      - proxy-redis:/data
volumes:
  proxy-redis:
