@import "tailwindcss";

@theme {
    --font-sans: 'Inter Variable', sans-serif;
    --font-montserrat: 'Montserrat Variable', sans-serif;

    --color-foreground-light: var(--color-zinc-100);
    --color-foreground-dark: var(--color-zinc-800);
}

:root {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@layer components {
    .button {
        @apply bg-zinc-100 p-2 rounded-md  border border-zinc-200 w-full font-medium;
    }

    .input-text {
        @apply px-2 py-1 border w-full border-zinc-200 rounded-md outline-none focus:ring-2 ring-zinc-300;
    }
}
